<section class="bg-black h-screen w-screen text-center relative overflow-hidden">
    <div class="z-30 relative h-full flex flex-col">
        <header >
            <h2 class="text-black pt-40 text-[40px] font-medium">Solar Roof</h2>
            <p class="text-black text-sm ">Produce Clean Energy From Your Roof</p>
        </header>
        <footer class=" flex flex-col flex-grow justify-end pb-20"> 
        <div class="flex mx-auto gap-x-6">
            <a class="border-[3px] border-gray-800 bg-gray-800  text-sm rounded text-white transition-colors font-medium px-20 py-2 inline-block" href="#">Order Now</a>
            <a class="border-[3px] border-gray-400 bg-gray-400 text-sm rounded text-black transition-colors font-medium px-20 py-2 inline-block" href="#">Learn More</a>
        </div>
        </footer>

    </div>
        <div class="absolute top-0 bottom-0 h-full w-full z-10">
            <img class="object-center object-cover h-full w-full"   src="/solar-roof.avif"/>
        </div>
</section>